{% extends 'master_layout.html' %}

{% load static %}

{% block title %}
Welcome | myTaskApp
{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Welcome | myTaskApp</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        Welcome to myTaskApp eServices system. To be able to use this system, you must have a valid myTaskApp customer username and password, which you can get from our office. If you have ordered any service(s) from us, you will be able to track the progress on the website. Once the task is completed, you will receive an email or SMS notification.
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="d-none" id="card-refresh-content">
        MyTaskApp
    </div>
  </div>
</div>
  <!-- /.col -->
<div class="row">
  <!-- /.col -->
  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-users"></i>
          User Registration & Login
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="callout callout-danger">
            <p>You cannot register on this website.You need to get the username and password from our office.</p>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-6">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-unlock-alt"></i>
          Password Reset
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="callout callout-danger">
            <p>If you forgot your username and password, you can reset by clicking the password reset which you can find on the login page.</p>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-md-3">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title">Cancelled Task</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The task has been cancelled
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="card card-outline card-success">
      <div class="card-header">
        <h3 class="card-title">Task In Progress</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The task is under process
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="card card-outline card-warning">
      <div class="card-header">
        <h3 class="card-title">Completed Task</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The task is completed
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
  <div class="col-md-3">
    <div class="card card-outline card-danger">
      <div class="card-header">
        <h3 class="card-title">Task On Hold</h3>
      </div>
      <div class="card-body">
        The task is on hold
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
{% endblock content %}
