{% extends 'master_layout.html' %}
{% load static %}
{% block title %}
Get Support | MyTaskApp
{% endblock title %}
{% block content %}
<div class="row">
<div class="col-lg-6">
<div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-question-circle"></i> | Support</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      Get in touch by phone or email:
      <li> South Africa: +27782087034 | info@afriadionline.co.za</li>
      <li> Namibia: +264818421284 | info@gfi-namibia.com</li>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      MyTaskApp
    </div>
    <!-- /.card-footer-->
</div>
</div>
</div>
  <!-- /.card -->
{% endblock content %}
